<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<stl:include file="/include/meta.html"></stl:include>
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{Stl.SiteUrl}/js/qiehuan.js"></script>min
</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!-- 头部结束 -->
	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="人力资源"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>人力资源</p><span>Human resources</span>
		</h3>
		<ul>
			<stl:channels channelName='人力资源' scope='children'>
				<stl:if testType="UpChannelOrSelf">
					<stl:yes>
						<li class="erji_position_li1">
							<stl:a></stl:a>
						</li>
					</stl:yes>
					<stl:no>
						<li>
							<stl:a></stl:a>
						</li>
					</stl:no>
				</stl:if>
			</stl:channels>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="erji_honor erji_rzgh_list kuandu">

		<!--内容-->
		<div class="erji_zizhi_box">
			<ul class="tabs" id="tabs">
				<li><a tab="tab1">人才理念</a></li>
				<li><a tab="tab2">职业发展</a></li>
				<li><a tab="tab3">员工关怀</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<div class="erji_rzgh_con">
			<ul>
				<li id="tab1" class="tab_con">
					<div class="erji_rzgh_con_info">
						<ul>
							<stl:contents channelName='人才理念'>
								<li>
									<h1>{content.Title}</h1>
									{content.Body}
								</li>
							</stl:contents>
						</ul>
					</div>
				</li>
				<li id="tab2" class="tab_con">
					<div class="erji_rzgh_con_info2">
						<ul>
							<stl:contents channelName='职业发展'>
								<li>
									<h1>{content.Title}</h1>
									{content.Body}
								</li>
							</stl:contents>
						</ul>
					</div>
				</li>
				<li id="tab3" class="tab_con">
					<div class="erji_rzgh_con_info3">
						<ul>
							<stl:contents channelName='员工关怀'>
								<li>
									<h1>{content.Title}</h1>
									{content.Body}
								</li>
							</stl:contents>
							<li class="www_libox">
								<!--滚动-->
								<div id="pic_list_1" class="case2_box_con">
									<div class="case2_box_con_info">
										<div class="case2_box2 case2_box3">
											<stl:contents channelName='人才发展' scope='self'>
												<dl>
													<dt>
														<a>
															<img src="{content.ImageUrl}">
														</a>
													</dt>
												</dl>
											</stl:contents>
										</div>
									</div>
									<div class="plus plus2"></div>
									<div class="minus minus2"></div>
								</div>
								<!--滚动-->
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!--内容-->

		<script src="{Stl.SiteUrl}/js/jquery.cxscroll.js"></script>
		<script>
			$("#pic_list_1").cxScroll();
		</script>
	</div>
	<!--foot-->
	<stl:include file="/include/footer.html"></stl:include>
</body>

</html>