<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <stl:include file="/include/meta.html"></stl:include>
    <link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
    <!--视频-->
    <script type="text/javascript" src="{Stl.SiteUrl}/js/swiper.min.js"></script>
</head>

<body>
    <link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
    <!--搜索-->
    <!-- 引入头部开始-->
    <stl:include file="/include/header.html"></stl:include>
    <!--引入头部结束 -->
    <!--wap导航-->

    <script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
    <script>$('[data-sidenav]').sidenav();</script>
    <!--二级开始-->
    <div class="erji_banner">
        <stl:image channelName="新闻中心"></stl:image>
    </div>
    <!--当前位置-->
    <div class="erji_position">
        <h3>
            <p>新闻中心</p><span>News Center</span>
        </h3>
        <ul>
            <stl:channels channelName='新闻中心' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="erji_gskw kuandu">
        <div class="erji_gskw_video">
            <div class="erji_qywh_t">
                <h1>视频影像<br /><span></span></h1>
            </div>
            <!--内容-->
            <div class="banner-box">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!--  -->
                        <stl:contents channelName="视频影像">
                            <div class="swiper-slide">
                                <stl:a>
                                    <stl:image src="{content.ImageUrl}"></stl:image>
                                    <p>{content.Title}</p>
                                </stl:a>
                            </div>
                        </stl:contents>
                    </div>
                    <div class="banner-arrow">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <!--内容-->
            <script type="text/javascript">

                window.onload = function () {
                    var swiper = new Swiper('.swiper-container', {
                        autoplay: 5000, //是否自动滚动
                        speed: 500,      //滚动速速
                        autoplayDisableOnInteraction: false,
                        loop: true,
                        centeredSlides: true,
                        slidesPerView: 3, //当前选中
                        pagination: '.swiper-pagination',
                        paginationClickable: true,
                        prevButton: '.swiper-button-prev', // 左右切换
                        nextButton: '.swiper-button-next', // 左右切换
                        onInit: function (swiper) {
                            swiper.slides[3].className = "swiper-slide swiper-slide-active"; //当前选中 状态
                        },
                        breakpoints: {
                            100: {
                                slidesPerView: 0,
                            }
                        }
                    });
                }

            </script>
        </div>
        <ul class="erji_gskw_ul">
            <h1>公司刊物<br /><span></span></h1>
            <stl:pageContents channelName="公司刊物" pageNum='3'>
                <li>
                    <stl:a href="{content.FileUrl}" target="_blank">
                        <stl:image src="{content.ImageUrl}"></stl:image>
                        <h3>{content.Title}</h3>
                        <p><stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></p>
                    </stl:a>
                </li>
            </stl:pageContents>
        </ul>
        <div class="erji_page">
            <ul>
                <stl:pageItem type="PreviousPage">
					<stl:yes>
						<li>
							<a href="{Current.Url}" class="prev">上一页</a>
						</li>
					</stl:yes>
				</stl:pageItem>
				<stl:pageItem type="PageNavigation" listNum="3">
					<stl:yes>
						<li>
							<a href="{Current.Url}">{Current.Num}</a>
						</li>
					</stl:yes>
					<stl:no>
						<li class="thisclass">
							<a href="javascript:;">{Current.Num}</a>
						</div>
					</stl:no>
				</stl:pageItem>
				<stl:pageItem type="NextPage">
					<stl:yes>
						<li>
							<a href="{Current.Url}" class="next">下一页</a>
						</li>
					</stl:yes>
					<stl:no>
						<li>
							<a href="javascript:;" class="next">下一页</a>
						</li>
					</stl:no>
				</stl:pageItem>

            </ul>
        </div>
    </div>
    <!--foot-->
    <!-- 引入底部开始-->
    <stl:include file="/include/footer.html"></stl:include>
    <!--引入底部结束 -->

</body>

</html>