<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<stl:include file="/include/meta.html"></stl:include>
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
</head>
<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 引入头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!--引入头部结束 -->
	<!--wap导航-->
	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="关于我们"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position erji_sousuo">
		<h3>
			<p>搜索</p><span>search</span>
		</h3>
		<ul>
			<li>
				<p>搜索结果</p>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="erji_news kuandu">
		<stl:search type="title" isHighlight="true">
			<stl:yes>
				<ul class="erji_news_ul erji_sousuo_ul">
					<stl:pageContents topLevel="0" scope="All" pageNum="10" order="AddDate" isNoDup="true" groupChannelNot="not">
						<li>
							<stl:a>
								<h3 style="float: left;"><stl:content type="Title" wordNum="30" ellipsis="..."></stl:content></h3>
								<span style="float: right;"><stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span>
							</stl:a>
						</li>
					</stl:pageContents>
				</ul>
				<div class="erji_page">
					<ul>
						<stl:pageItem type="PreviousPage">
							<stl:yes>
								<li>
									<a href="{Current.Url}" class="prev">上一页</a>
								</li>
							</stl:yes>
							<stl:no>
								<li>
									<a href="javascript:;" class="prev">上一页</a>
								</li>
							</stl:no>
						</stl:pageItem>
						<stl:pageItem type="PageNavigation" listNum="3">
							<stl:yes>
								<li>
									<a href="{Current.Url}">{Current.Num}</a>
								</li>
							</stl:yes>
							<stl:no>
								<li class="thisclass">
									<a href="javascript:;">{Current.Num}</a>
								</li>
							</stl:no>
						</stl:pageItem>
						<stl:pageItem type="NextPage">
							<stl:yes>
								<li>
									<a href="{Current.Url}" class="next">下一页</a>
								</li>
							</stl:yes>
							<stl:no>
								<li>
									<a href="javascript:;" class="next">下一页</a>
								</li>
							</stl:no>
						</stl:pageItem>
					</ul>
				</div>
			</stl:yes>
			<stl:no>
				<div class="alert alert-danger" role="alert">
					<strong>抱歉!</strong> 找不到和您的查询相符的项目
				</div>
			</stl:no>
			<stl:loading>
				<div class="alert alert-info" role="alert">
					<strong>提示!</strong> 系统正在搜索中，请稍后...
				</div>
			</stl:loading>
		</stl:search>

	</div>
	<!--foot-->
	<!-- 引入底部开始-->
	<stl:include file="/include/footer.html"></stl:include>
	<!--引入底部结束 -->
</body>
</html>
