<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>

</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<stl:include file="/include/header.html"></stl:include>
	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="产品中心"></stl:image>
	</div>
	<!-- <div class="erji_banner" style="background:url(/skin/banner/3.jpg) no-repeat center;"></div> -->
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>产品中心</p><span>Product Center</span>
		</h3>
		<ul>
			<stl:channels channelName='产品中心' scope='children'>
				<stl:if testType="UpChannelOrSelf">
					<stl:yes>
						<li class="erji_position_li1"><stl:a></stl:a></li>
					</stl:yes>
					<stl:no>
						<li><stl:a></stl:a></li>
					</stl:no>
				</stl:if>
			</stl:channels>
		</ul>
		<div class="clear"></div>
	</div>
	<script type="text/javascript" language="javascript">
		$(function () {
			$("#table1 a").click(function () {
				//$("#tablemonth a").removeClass("active");//方法1
				//方法2注意层次关系，因为本例中<a>标签式在一个table里的td里，所以同级的<a>是父节点的兄弟节点的子节点。
				$(this).parent().siblings().children('a').removeClass('active');//方法2
				$(this).addClass('active');
			});
		});
	</script>
	<div class="erji_products_xq_top kuandu" id="table1">
		<stl:contents channelName='产品介绍'>
			<stl:a>{content.Title}</stl:a>
		</stl:contents>

		<!-- <input type="hidden" value="249" id="aaid"> -->
		<!-- <script>
			$(document).ready(function () {
				var cid = $("#aaid").val();
				$("#a_" + cid).attr("style", "color:#60c2cf;border-bottom:#60c2cf 1px solid;");
				console.log($("#a_"+cid));
			})
		</script> -->
	</div>
	<div class="erji_products_xq kuandu">
		{content.Body}
	</div>
	<!--foot-->
	<stl:include file="/include/footer.html"></stl:include>
</body>
</html>

