<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>

</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 引入头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!--引入头部结束 -->
	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="产品中心"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>产品中心</p><span>Product Center</span>
		</h3>
		<ul>
			<stl:channels channelName='产品中心' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>

		</ul>
		<div class="clear"></div>
	</div>
	<div class="erji_products kuandu">
		<div class="erji_products_t">
			岱勒新材提供450微米到50微米线径的金刚石切割线及技术应用整体解决方案，根据产品切割对象与工艺的不同分为环形线，晶体硅开方线，晶体硅切片线，蓝宝石切片线。金刚石线切割晶体硅、贵重石材、蓝宝石、磁性或新型陶瓷等硬脆材料的技术应用领域涵盖光伏、LED、消费电子、精密光学仪器等行业。<br />
			金刚石线多线切割速度快、加工精度高、切割损耗低、效率高、节能环保，切割速度是传统切割方式的3倍，实现同样的产能所需要的固定投资将减少一半以上，总运营成本降低30%以上，对光伏产业和蓝宝石行业的节能降本具有革命性的作用。<br />
			未来细线化，切割效能稳定性提升的迭代产品会进一步提升切割效率，降低运营成本，在经济与社会效益方面呈现更亮眼的表现。</div>
		<div class="erji_products_b">
			<dl>
				<a href="/products/2020/0728/248.html">
					<dt>
						<h3>钨丝绳</h3>
						<p>Tungsten wire rope</p>
					</dt>
					<dd><img src="/uploads/allimg/200728/1-200HQF9400-L.jpg" alt="钨丝绳" title="钨丝绳" />
						<p>钨丝绳刚性大，扭转应力较低</p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="/products/2020/0728/249.html">
					<dt>
						<h3>砂轮</h3>
						<p>Grinding wheel</p>
					</dt>
					<dd><img src="/uploads/allimg/200728/1-200HQG1030-L.jpg" alt="砂轮" title="砂轮" />
						<p>高速高效磨削、使用寿命长</p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="/products/2019/0727/205.html">
					<dt>
						<h3>环形金刚线</h3>
						<p>Diamond Wire Loops</p>
					</dt>
					<dd><img src="/uploads/allimg/190727/1-1ZHF956120-L.jpg" alt="环形金刚线" title="环形金刚线" />
						<p>用于硅截断、贵重石材切割、半导体切割</p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="/products/2018/1227/20.html">
					<dt>
						<h3>晶体硅开方线</h3>
						<p>squaring wire for silicon</p>
					</dt>
					<dd><img src="/uploads/190110/1-1Z11015154G62.jpg" alt="晶体硅开方线" title="晶体硅开方线" />
						<p>用于单晶硅、多晶硅开方或截断、切硅芯</p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="/products/2019/0107/72.html">
					<dt>
						<h3>晶体硅切片线</h3>
						<p>slicing wire for silicon</p>
					</dt>
					<dd><img src="/uploads/190514/1-1Z51410105D49.jpg" alt="晶体硅切片线" title="晶体硅切片线" />
						<p>用于单晶硅、多晶硅、半导体切片</p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="/products/2019/0107/71.html">
					<dt>
						<h3>蓝宝石切片线</h3>
						<p>Sapphire slice line</p>
					</dt>
					<dd><img src="/uploads/190108/1-1Z10Q44I0c2.jpg" alt="蓝宝石切片线" title="蓝宝石切片线" />
						<p>用于蓝宝石、磁性材料切片、水晶、玻璃、半导体切片</p>
					</dd>
				</a>
			</dl>
		</div>
	</div>
	<!--foot-->
	<!-- 引入底部开始-->
	<stl:include file="/include/footer.html"></stl:include>
	<!--引入底部结束 -->

</body>

</html>