<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{Stl.SiteUrl}/js/qiehuan.js"></script>min
</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->

	<!-- 头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!-- 头部结束 -->

	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="人力资源"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>人力资源</p><span>Human resources</span>
		</h3>
		<ul>
			<stl:channels channelName='人力资源' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="erji_honor erji_rzgh_list kuandu">

		<!--内容-->
		<div class="erji_zizhi_box">
			<ul class="tabs" id="tabs">

				<li><a tab="tab1">人才理念</a></li>

				<li><a tab="tab2">职业发展</a></li>

				<li><a tab="tab3">员工关怀</a></li>

				<div class="clear"></div>
			</ul>
		</div>
		<div class="erji_rzgh_con">
			<ul>
				<li id="tab1" class="tab_con">
					<div class="erji_rzgh_con_info">
						<stl:channel channelName='人才理念' type="Content">
							{channel.Content}
						</stl:channel>
						
						<!-- <ul>
							<li>
								<h1>
									人才观</h1>
								<p>
									岱勒新材为那些有才有能，有品有德有担当的人提供机会和平台， 你有多大能力，给你多大舞台。</p>
							</li>
							<li>
								<h1>
									用人理念</h1>
								<p>
									尊重人才真心真意；服务人才全心全意；培养人才一心一意；使用人才诚心诚意。</p>
							</li>
							<li>
								<h1>
									管理方针</h1>
								<p>
									制度用人、培训育人、事业留人。</p>
							</li>
						</ul>
						<p style="text-align: center;">
							<img alt="" src="/uploads/allimg/190109/1-1Z109163226328.jpg"
								style="width: 1199px; height: 441px;" />
						</p> -->
					</div>
				</li>
				<li id="tab2" class="tab_con">
					<div class="erji_rzgh_con_info2">
						<ul>
							<stl:channel channelName='职业发展' type="Content">
								{channel.Content}
							</stl:channel>
							<!-- <li>
								<h1>完善的职业晋升通道</h1>
								<p>公司建立了完善的职业晋升渠道，形成了职位晋升和职称评定的双重发展通道，同时为每个员工进行合理的职业发展规划。</p>
							</li>
							<li style="text-align:center;" class="erji_rzgh_con_info2_li2"><img
									src="/skin/images/zyfz_img1.jpg" /></li>
							<li>
								<h1>全面的人才培养机制</h1>
								<p>公司坚持“打造知识型员工，共创学习型企业”理念，现已搭建三级培训管理体系。根据不同职层、职类的岗位要求及发展路径，设置了以管理技能培养为目标的横向人才培养，以重点职系专业技术发展为纵向的人才培养体系。从新员工入职之日起，公司提供入职培训、岗位培训、轮岗、管理培训等多形式、多层次的培训，帮助员工快速融入团队、掌握专业技能、提升工作绩效，从而获得更好的职业发展。
								</p>
							</li>
							<li class="www_libox">
								<img src="/skin/images/zyfz_img2.jpg" />
								<img src="/skin/images/zyfz_img3.jpg" />
								<img src="/skin/images/zyfz_img4.jpg" />
							</li> -->
						</ul>
					</div>
				</li>
				<li id="tab3" class="tab_con">
					<div class="erji_rzgh_con_info3">
						<ul>
							<stl:channel channelName='员工关怀' type="Content">
								{channel.Content}
							</stl:channel>
							<!-- <li>
								<h1>完善的保险体系</h1>
								<p>公司按规定给员工购买社保与公积金</p>
							</li>
							<li>
								<h1>结婚、丧葬、生日津贴</h1>
								<p>公司给予新婚员工贺仪津贴；对直系亲属去世的员工给予一定的丧葬慰问津贴；为所有员工发放生日礼物，并组织集体生日活动。</p>
							</li>
							<li>
								<h1>节日津贴</h1>
								<p>公司在中国传统节日为所有员工发放丰富的过节物资或津贴。</p>
							</li>
							<li>
								<h1>免费体检</h1>
								<p>公司免费提供入职体检以及免费的年度健康体检。</p>
							</li>
							<li>
								<h1>高温补贴</h1>
								<p>公司在每年的夏季高温期间为每个员工发放高温补贴或物资，同时提供多样的防暑降温物品和药品。</p>
							</li>
							<li>
								<h1>免费食宿</h1>
								<p>公司提供免费的员工宿舍（公寓式），2-6人间，24小时热水，空调，宽带；提供免费的工作餐。</p>
							</li>
							<li>
								<h1>多样的文化业余生活</h1>
								<p>公司定期或不定期组织员工开展体育比赛、户外拓展、以及其他丰富多彩的业余文化生活。</p>
							</li>
							<li class="www_libox">
								<div id="pic_list_1" class="case2_box_con">
									<div class="case2_box_con_info">
										<div class="case2_box2 case2_box3">
											<dl>
												<dt><a><img src="/uploads/allimg/190110/1-1Z110152H30-L.jpg" /></a></dt>
											</dl>
											<dl>
												<dt><a><img src="/uploads/allimg/190110/1-1Z110152A20-L.jpg" /></a></dt>
											</dl>
										</div>
									</div>
									<div class="plus plus2"></div>
									<div class="minus minus2"></div>
								</div>
							</li> -->
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!--内容-->

		<script src="{Stl.SiteUrl}/js/jquery.cxscroll.js"></script>
		<script>
			$("#pic_list_1").cxScroll();
		</script>
		<!--<div class="erji_page">
      <ul>
	     
	  </ul>
   </div>-->
	</div>
	<!--foot-->
	<stl:include file="/include/footer.html"></stl:include>


</body>

</html>