<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 引入头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!--引入头部结束 -->
	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="关于我们"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>关于岱勒</p><span>About DIALINE</span>
		</h3>
		<ul>
			<stl:channels channelName='关于我们' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="about_box1 kuandu">
		<stl:contents channelName="公司简介" totalNum="1">
			<stl:image src="{content.ImageUrl}"></stl:image>
			{content.Body}
		</stl:contents>
		<div class="clear"></div>
	</div>

	<div class="about_box2 kuandu">
		<h3>宣传片<br /><i></i></h3>
		<div class="about_video">
			<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=r0824hhce7o" allowFullScreen="true"
				width="100%" height="750px"></iframe>
		</div>
	</div>
	<div class="about_box2 kuandu">
		<h3>发展历程<br /><i></i></h3>
		<div class="about_fzlc">
			<!--发展历程-->
			<div class="section licheng">
				<!-- history -->
				<script src="{Stl.SiteUrl}/js/jquery.timelinr-0.9.4.js" type="text/javascript"></script>
				<script type="text/javascript">
					$(function () {
						$().timelinr({
							autoPlay: 'true',
							autoPlayDirection: 'forward',
							startAt: 1
						})
					});
				</script>
				<div id="timeline">
					<div class="fzlc_t">
						<ul id="dates">
							<stl:contents channelName="发展历程">
								<li><a>{content.Title}</a></li>
							</stl:contents>
						</ul>
						<div class="fzlc_xt"></div>
					</div>
					<ul id="issues">
						<stl:contents channelName="发展历程">
							<li>
								<stl:image src="{content.ImageUrl}"></stl:image>
								<h1>
									<a>{content.subTitle}</a>
									<p>{content.Summary}</p>
								</h1>
							</li>
						</stl:contents>
					</ul>
					<div id="grad_left"></div>
					<div id="grad_right"></div>
				</div>
			</div>
			<!--发展历程-->
		</div>
	</div>
	<!--foot-->
	<!-- 引入底部开始-->
	<stl:include file="/include/footer.html"></stl:include>
	<!--引入底部结束 -->
</body>
</html>

