<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>

</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 引入头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!--引入头部结束 -->
	<!--wap导航-->

	<script type="text/javascript" src="/skin/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="关于我们"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>关于岱勒</p><span>About DIALINE</span>
		</h3>
		<ul>
			<stl:channels channelName='关于我们' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="about_box1 kuandu">
		<stl:contents channelName="公司简介" totalNum="1">
			<stl:image src="{content.ImageUrl}"></stl:image>
			{content.Body}
		</stl:contents>
		<div class="clear"></div>
	</div>

	<div class="about_box2 kuandu">
		<h3>宣传片<br /><i></i></h3>
		<div class="about_video">
			<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=r0824hhce7o" allowFullScreen="true"
				width="100%" height="750px"></iframe>
		</div>
	</div>
	<div class="about_box2 kuandu">
		<h3>发展历程<br /><i></i></h3>
		<div class="about_fzlc">
			<!--发展历程-->
			<div class="section licheng">
				<!-- history -->
				<script src="{Stl.SiteUrl}/js/jquery.timelinr-0.9.4.js" type="text/javascript"></script>
				<script type="text/javascript">
					$(function () {
						$().timelinr({
							autoPlay: 'true',
							autoPlayDirection: 'forward',
							startAt: 1
						})
					});
				</script>
				<div id="timeline">
					<div class="fzlc_t">
						<ul id="dates">
							<li><a href="#2009">2009</a></li>
							<li><a href="#2010">2010</a></li>
							<li><a href="#2011">2011</a></li>
							<li><a href="#2012">2012</a></li>
							<li><a href="#2013">2013</a></li>
							<li><a href="#2014">2014</a></li>
							<li><a href="#2015">2015</a></li>
							<li><a href="#2016">2016</a></li>
							<li><a href="#2017">2017</a></li>
							<li><a href="#2018">2018</a></li>
						</ul>
						<div class="fzlc_xt"></div>
					</div>
					<ul id="issues">
						<li id="2009">
							<img src="/uploads/190110/1-1Z110114K01F.jpg" />
							<h1><a>2009年岱勒新材成立</a>
								<p>公司成立，成为国内首家实现金刚石线产业化的企业。</p>
							</h1>
						</li>
						<li id="2010">
							<img src="/uploads/190110/1-1Z110114PA11.jpg" />
							<h1><a>2010年岱勒新材更名为长沙岱勒新材料科技有限公司</a>
								<p>公司更名为长沙岱勒新材料科技有限公司,快速成为中国金刚石制造技术的领跑者</p>
							</h1>
						</li>
						<li id="2011">
							<img src="/uploads/190110/1-1Z110114R0957.jpg" />
							<h1><a>2011年引入战略合作者</a>
								<p>2011年引入战略合作者，公司进入高速发展阶段</p>
							</h1>
						</li>
						<li id="2012">
							<img src="/uploads/190110/1-1Z110114SQ96.jpg" />
							<h1><a>2012年获得“高新技术企业资质”</a>
								<p>获得“高新技术企业资质”</p>
							</h1>
						</li>
						<li id="2013">
							<img src="/uploads/190110/1-1Z110114U4507.jpg" />
							<h1><a>金刚石线研制获得《国家创新基金重点创新项目》支持</a>
								<p>金刚石线研制获得《国家创新基金重点创新项目》支持，“岱勒金刚石线”被认定为国家重点新产品和长沙市名牌产品</p>
							</h1>
						</li>
						<li id="2014">
							<img src="/uploads/190110/1-1Z1101149101A.jpg" />
							<h1><a>2014年完成股改、公司更名</a>
								<p>完成股改，公司更名为长沙岱勒新材料科技股份有限公司
									DIALINE商标认定为湖南省著名商标
									《高性能电镀镍金刚石线的制备技术及应用（发明）》获有色金属工业科技技术发明一等奖</p>
							</h1>
						</li>
						<li id="2015">
							<img src="/uploads/190110/1-1Z110114925961.jpg" />
							<h1><a>制定《超硬磨料制品电镀金刚石线》标准</a>
								<p>作为第一起草单位制定《超硬磨料制品电镀金刚石线》标准颁布实施</p>
							</h1>
						</li>
						<li id="2016">
							<img src="/uploads/190110/1-1Z1101149445W.jpg" />
							<h1><a>2016年位于长沙岳麓区的新工业园投产</a>
								<p>新工厂暨新商标正式启用，获批长沙市企业技术中心</p>
							</h1>
						</li>
						<li id="2017">
							<img src="/uploads/190110/1-1Z110115000210.jpg" />
							<h1><a>2017年9月于深交所创业板上市</a>
								<p>2017年9月于深交所创业板上市，岱勒新材发展进入一个全新的阶段</p>
							</h1>
						</li>
						<li id="2018">
							<img src="/uploads/190110/1-1Z110115015c1.jpg" />
							<h1><a>2018年株洲分公司成立</a>
								<p>2018年株洲岱勒子公司成立，通过省级企业技术中心认定</p>
							</h1>
						</li>
					</ul>
					<div id="grad_left"></div>
					<div id="grad_right"></div>
				</div>
			</div>
			<!--发展历程-->
		</div>
	</div>
	<!--foot-->
	<!-- 引入底部开始-->
	<stl:include file="/include/footer.html"></stl:include>
	<!--引入底部结束 -->
</body>

</html>