<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <meta name="aplus-terminal" content="1">
    <meta name="spm-id" content="a2156.1391427">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>岱勒新材</title>
    <meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
    <meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
    <link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
    <!--视频-->
    <script type="text/javascript" src="{Stl.SiteUrl}/js/swiper.min.js"></script>
</head>

<body>
    <link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
    <!--搜索-->
    <!-- 引入头部开始-->
    <stl:include file="/include/header.html"></stl:include>
    <!--引入头部结束 -->
    <!--wap导航-->

    <script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
    <script>$('[data-sidenav]').sidenav();</script>
    <!--二级开始-->
    <div class="erji_banner">
        <stl:image channelName="新闻中心"></stl:image>
    </div>
    <!--当前位置-->
    <div class="erji_position">
        <h3>
            <p>新闻中心</p><span>News Center</span>
        </h3>
        <ul>
            <stl:channels channelName='新闻中心' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="erji_gskw kuandu">
        <div class="erji_gskw_video">
            <div class="erji_qywh_t">
                <h1>视频影像<br /><span></span></h1>
            </div>
            <!--内容-->
            <div class="banner-box">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/shipinyingxiang/2020/0411/233.html">
                                <img src="/uploads/200411/1-20041113164aT.jpg" about="" title="岱勒新材十周年寄语">
                                <p>岱勒新材十周年寄语<br /></p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/shipinyingxiang/2019/0110/145.html">
                                <img src="/uploads/190110/1-1Z110120559624.jpg" about="" title="激流勇进 你我同行">
                                <p>激流勇进 你我同行<br /></p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/shipinyingxiang/2018/1227/34.html">
                                <img src="/uploads/190110/1-1Z110115HV55.jpg" about="" title="岱勒新材宣传视频">
                                <p>岱勒新材宣传视频<br /></p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/shipinyingxiang/2018/1227/33.html">
                                <img src="/uploads/190110/1-1Z110095405456.jpg" about="" title="秋风送爽 妙趣横生">
                                <p>秋风送爽 妙趣横生<br /></p>
                            </a>
                        </div>

                    </div>
                    <div class="banner-arrow">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <!--内容-->
            <script type="text/javascript">

                window.onload = function () {
                    var swiper = new Swiper('.swiper-container', {
                        autoplay: 5000, //是否自动滚动
                        speed: 500,      //滚动速速
                        autoplayDisableOnInteraction: false,
                        loop: true,
                        centeredSlides: true,
                        slidesPerView: 3, //当前选中
                        pagination: '.swiper-pagination',
                        paginationClickable: true,
                        prevButton: '.swiper-button-prev', // 左右切换
                        nextButton: '.swiper-button-next', // 左右切换
                        onInit: function (swiper) {
                            swiper.slides[3].className = "swiper-slide swiper-slide-active"; //当前选中 状态
                        },
                        breakpoints: {
                            100: {
                                slidesPerView: 0,
                            }
                        }
                    });
                }

            </script>
        </div>
        <ul class="erji_gskw_ul">
            <h1>公司刊物<br /><span></span></h1>
            <li>
                <a href="/uploads/soft/200905/1-200Z5141214.pdf" target="_blank">
                    <img src="/uploads/allimg/200905/1-200Z51411510-L.jpg" alt="十周年内刊" title="十周年内刊" />
                    <h3>十周年内刊</h3>
                    <p>2020-09-05</p>
                </a>
            </li>
            <li>
                <a href="/uploads/soft/190109/1-1Z109194244.pdf" target="_blank">
                    <img src="/uploads/190109/1-1Z1091919164D.jpg" alt="激流勇进 你我同行" title="激流勇进 你我同行" />
                    <h3>激流勇进 你我同行</h3>
                    <p>2019-05-14</p>
                </a>
            </li>
            <li>
                <a href="/uploads/soft/190109/1-1Z1091Z305.pdf" target="_blank">
                    <img src="/uploads/190109/1-1Z109192003323.jpg" alt="无微不至  无坚不克" title="无微不至  无坚不克" />
                    <h3>无微不至 无坚不克</h3>
                    <p>2019-01-10</p>
                </a>
            </li>
        </ul>
        <div class="erji_page">
            <ul>
                <li><span class="pageinfo">共 <strong>1</strong>页<strong>3</strong>条记录</span></li>

            </ul>
        </div>
    </div>
    <!--foot-->
    <!-- 引入底部开始-->
    <stl:include file="/include/footer.html"></stl:include>
    <!--引入底部结束 -->

</body>

</html>