<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
	<!--企业文化-->
	<script type="text/javascript" src="{Stl.SiteUrl}/js/swiper.min.js"></script>
</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 引入头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!--引入头部结束 -->
	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="技术中心"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>技术中心</p><span>Technology Center</span>
		</h3>
		<ul>
			<stl:channels channelName='技术中心' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>

		</ul>
		<div class="clear"></div>
	</div>
	<div class="erji_jszx kuandu">
		<stl:channel channleName='技术战略'>
			<h1>{channel.Title}</h1>
			<p class="jszx_p1">{channel.content}</p>
		</stl:channel>
		<!-- <h1>技术战略<br /><span></span></h1>
		<p class="jszx_p1">
			技术中心定位于“引领公司未来发展，推进公司技术进步，保障公司在行业中的持续领先地位”，坚持以提升岱勒新材核心竞争力为目标，通过加大技术研发投入，始终把握超硬材料行业前沿技术，引领行业发展方向；推进技术成果转化，不断将技术研发成果转化为公司强劲的生产力，实现良好的经济效益和社会效益，推动企业可持续进步和发展。
		</p> -->
		<div class="clear"></div>
		<stl:contents channelName='技术战略'>
			<dl>
				<dt>
					<stl:image src='{content.ImageUrl}'></stl:image>
				</dt>
				<dd>
					<h3>{content.Title}</h3>
					{content.Body}
					<b>{content.Summary}</b>
				</dd>
			</dl>
		</stl:contents>

		<div class="clear"></div>
	</div>
	<div class="jszx_yfcg">
		<h1>研发成果<br /><span></span></h1>
	</div>
	<div class="jszx_yfcg_box kuandu">
		<dl>
			<dt><img src="/skin/images/jszx_img2.jpg" /></dt>
			<dd>
				<h3>岱勒新材坚持技术创新引领行业发展</h3>
				<p>省级企业技术中心每年投入1000多万元专项研发资金用于技术创新和产品研发。截至目前，公司累计申请专利50项，其中授权PCT国际专利2项、发明专利19项、实用新型5项，是中国电镀金刚石线行业标准《超硬磨料制品电镀金刚石线》（JB/T
					12543-2015）制定者。</p>
			</dd>
		</dl>
		<div class="jszx_yfcg_box_b">
			<div class="jszx_yfcg_box_b_con">
				<!--内容-->
				<div class="banner-box">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="/uploads/allimg/190110/1-1Z1101400190-L.jpg" about="" title="">
									<h3>2015-2017</h3>
									<p>2015年至2017年，公司每年研发费用实际支出966.48万元、1239.74万元和1865.34万元，分别占当年销售收入的7.3%、6.7%、4.3%。
									</p>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="/uploads/allimg/190110/1-1Z1101359580-L.jpg" about="" title="">
									<h3>2015</h3>
									<p>2015年，公司技术中心被认定为长沙市级企业技术中心。</p>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="/uploads/allimg/190110/1-1Z1101359470-L.jpg" about="" title="">
									<h3>2014</h3>
									<p>2014年9月，公司产品金刚石线通过了中国有色金属工业协会的科技成果鉴定，鉴定结论为“整体技术达到国际领先水平”。</p>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="/uploads/allimg/190110/1-1Z1101359350-L.jpg" about="" title="">
									<h3>2013</h3>
									<p>2013年2月，科技部部长万钢评价：“长沙岱勒新材料科技有限公司研发的金刚石线，打破了日美企业垄断”。同时本公司被推荐为中国参与“达沃斯世界经济论坛技术先锋项目”评比的30家企业之一。
										2013年9月，公司产品金刚石线通过了国家重点新产品认定，同年10月获《国家创新基金重点创新项目》立项。</p>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="/uploads/allimg/190110/1-1Z1101359240-L.jpg" about="" title="">
									<h3>2012</h3>
									<p>2012年，项目产品通过湖南省科技成果鉴定和新产品鉴定，鉴定结果为：“该产品填补了国内空白，生产技术和产品性能达到国际先进水平”</p>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="/uploads/allimg/190110/1-1Z1101359120-L.jpg" about="" title="">
									<h3>2011</h3>
									<p>2011年，项目进入湖南省“四千工程”创业计划，同年公司被认定为高新技术企业</p>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="/uploads/190110/1-1Z110135SO64.jpg" about="" title="">
									<h3>2009年</h3>
									<p>2009年，岱勒新材的金刚石线产业化被列入国家创新基金项目；</p>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="javascript:;">
									<img src="/uploads/allimg/190110/1-1Z1101400310-L.jpg" about="" title="">
									<h3>2018</h3>
									<p>2018年成立省级技术中心。现有总面积达5200平米的研发大楼，作为技术中心研发产品的产业化实验基地，拥有技术开发仪器设备100多台（套），总价值1200多万元。
									</p>
								</a>
							</div>
						</div>
						<div class="banner-arrow">
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
				<!--内容-->
			</div>
			<script type="text/javascript">

				window.onload = function () {
					var swiper = new Swiper('.swiper-container', {
						autoplay: 5000, //是否自动滚动
						speed: 500,      //滚动速速
						time: 5000,
						autoplayDisableOnInteraction: false,
						loop: true,
						centeredSlides: true,
						slidesPerView: 3, //当前选中
						pagination: '.swiper-pagination',
						paginationClickable: true,
						prevButton: '.swiper-button-prev', // 左右切换
						nextButton: '.swiper-button-next', // 左右切换
						onInit: function (swiper) {
							swiper.slides[3].className = "swiper-slide swiper-slide-active"; //当前选中 状态
						},
						breakpoints: {
							100: {
								slidesPerView: 0,
							}
						}
					});
				}
			</script>
		</div>
	</div>
	<!--技术实力证书-->
	<!-- <link rel="stylesheet" type="text/css" href="/skin/css/viewer.min.css" /> -->
	<div class="erji_jsslzs kuandu">
		<h3>技术实力证书<br /><i></i></h3>
		<ul>
			<li><a href="/jsslzs/2019/0109/142.html" target="_blank"><img src="/uploads/190515/1-1Z515110303621.jpg" />
					<h1>公司牵头制定的产品行业标准</h1>
				</a></li>
			<li><a href="/jsslzs/2019/0104/47.html" target="_blank"><img src="/uploads/190515/1-1Z51511023QX.jpg" />
					<h1>新产品鉴定验收证书</h1>
				</a></li>
			<li><a href="/jsslzs/2019/0104/46.html" target="_blank"><img src="/uploads/190515/1-1Z51511015a29.jpg" />
					<h1>科学技术成果鉴定证书</h1>
				</a></li>

		</ul>
		
	</div>
	
	<!--foot-->
	<!-- 引入底部开始-->
	<stl:include file="/include/footer.html"></stl:include>
	<!--引入底部结束 -->
</body>

</html>