<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
	<!--企业文化-->
	<script type="text/javascript" src="{Stl.SiteUrl}/js/swiper.min.js"></script>
</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 引入头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!--引入头部结束 -->
	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="技术中心"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>技术中心</p><span>Technology Center</span>
		</h3>
		<ul>
			<stl:channels channelName='技术中心' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="erji_jssb kuandu">
		<p><span style="font-size:16px;">技术中心设有独立、标准的实验室，技术开发仪器设备100多台（套），可以满足相应的技术研发和试验工作，为技术研发与产品质量保驾护航。</span></p>
		<div class="erji_jssb">
			<ul>
				<li><a href="/jishushebei/2019/0107/65.html"><img src="/uploads/allimg/190107/1-1Z10G63G50-L.jpg"
							alt="FEI扫描电子量微镜+OXFORD能谱仪" title="FEI扫描电子量微镜+OXFORD能谱仪" />
						<h3>FEI扫描电子量微镜+OXFORD能谱仪</h3>
					</a></li>
				<li><a href="/jishushebei/2019/0107/77.html"><img src="/uploads/allimg/190107/1-1Z10GJ5450-L.jpg"
							alt="三维高分辨率激光显微镜" title="三维高分辨率激光显微镜" />
						<h3>三维高分辨率激光显微镜</h3>
					</a></li>
				<li><a href="/jishushebei/2019/0107/78.html"><img src="/uploads/allimg/190107/1-1Z10GJ6410-L.jpg"
							alt="线锯分析仪" title="线锯分析仪" />
						<h3>线锯分析仪</h3>
					</a></li>
				<li><a href="/jishushebei/2018/1227/22.html"><img src="/uploads/190107/1-1Z10G63041b7.jpg" alt="原子分度计"
							title="原子分度计" />
						<h3>原子分度计</h3>
					</a></li>
				<li><a href="/jishushebei/2019/0107/73.html"><img src="/uploads/allimg/190107/1-1Z10GJ0540-L.jpg"
							alt="还原炉" title="还原炉" />
						<h3>还原炉</h3>
					</a></li>
				<li><a href="/jishushebei/2019/0107/74.html"><img src="/uploads/allimg/190107/1-1Z10GJ1400-L.jpg"
							alt="拉力试验机" title="拉力试验机" />
						<h3>拉力试验机</h3>
					</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class="erji_page">
		<ul>
			<li>首页</li>
			<li class="thisclass">1</li>
			<li><a href='list_17_2.html'>2</a></li>
			<li><a href='list_17_2.html'>下一页</a></li>
			<li><a href='list_17_2.html'>末页</a></li>

		</ul>
	</div>
	<!--foot-->
	<!-- 引入底部开始 -->
	<stl:include file="/include/footer.html"></stl:include>
	<!-- 引入底部结束 -->
</body>

</html>