<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{Stl.SiteUrl}/js/qiehuan.js"></script>
	<!--人力资源-->
	<script type="text/javascript" src="{Stl.SiteUrl}/js/menu.js"></script>

	<link rel="stylesheet" href="{Stl.SiteUrl}/css/simpleAlert.css">
	<script src="{Stl.SiteUrl}/js/simpleAlert.js"></script>
	<!-- <script src="{Stl.SiteUrl}/js/zhaoping.js"></script> -->
</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 引入头部 -->
	<stl:include file="/include/header.html"></stl:include>
	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="人力资源"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>人力资源</p><span>Human resources</span>
		</h3>
		<ul>
			<stl:channels channelName='人力资源' scope='children'>
                <stl:if testType="UpChannelOrSelf">
                    <stl:yes>
                        <li class="erji_position_li1">
                            <stl:a></stl:a>
                        </li>
                    </stl:yes>
                    <stl:no>
                        <li>
                            <stl:a></stl:a>
                        </li>
                    </stl:no>
                </stl:if>
            </stl:channels>

		</ul>
		<div class="clear"></div>
	</div>
	<div class="erji_rlzy kuandu">
		<!-- <div class="erji_rlzy_search">
			<form name="formsearch" action="/plus/search_zhaoping.php">
				<input type="hidden" name="typeid" value="38" />
				<input name="q" id="search-keyword" type="text" onBlur="if (value=='') {value='请输入职位名称'} "
					onFocus="if(value=='请输入职位名称') {value=''}" value="请输入职位名称" class="head_ss_txt" />
				<input type="submit" class="head_ss_sbt" value="" />
			</form>
		</div> -->
		<div class="erji_zizhi_box">
			<ul class="tabs" id="tabs">

				<li><a tab="tab1">社会招聘</a></li>

				<li><a tab="tab2">校园招聘</a></li>

				<div class="clear"></div>
			</ul>
		</div>
		<div class="erji_rlzy_nr">
			<ul>
				<li id="tab1" class="tab_con">
					<div class="erji_rlzy_t">
						<span>职位名称</span>
						<span>工作地点</span>
						<span>招聘人数</span>
						<span>招聘截止时间</span>
						<span>职位申请</span>
					</div>
					<!--内容-->
					<div class="menu_list">
						<ul>
							<li class="">
								<p class="fuMenu"><span>青苗管培生</span><span>长沙</span><span>12</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="{Stl.SiteUrl}/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>薪资：6~12K<br />
											一、招聘需求：1、有注会资格证的财务类 硕士 2名；<br />
											2、材料化学类 博士 2名；<br />
											3、机械自动化类 硕士 2名；<br />
											4、商学院管理类 本科/硕士 2名；<br />
											5、材料化学 本科 4名。<br />
											二、任职要求<br />
											1、本科学历及以上（统招），优秀应届毕业生，专业排名前20%；<br />
											2、基本素质：务实合作、灵活进取、责任心强、韧性足。<br />
											三、晋升通道<br />
											青苗管培生（12个月后）&rarr;见习主管/工程师&rarr;主管/工程师(24个月后）&rarr;部长助理/工程师（36个月后）&rarr;部级储备干部&rarr;进入高层储备队伍
										</p>
										
										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>
							<li class="">
								<p class="fuMenu"><span>生产管理</span><span>长沙</span><span>若干</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="/skin/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>薪资：7~12K<br />
											技能要求：<br />
											生产计划，生产管理，精益生产规划<br />
											岗位职责：<br />
											1、根据公司经营计划，制订车间的工作目标及计划，并监督工作计划的落实完成及总结；<br />
											2、根据生产需要，科学的设置车间岗位，做好相关管理职责，并建立相关管理制度；<br />
											3、负责直接下属及其后备管理人员的培训和提升工作，并建立部门内部人才梯队；<br />
											4、完成公司领导交办的其他工作。<br />
											任职要求：<br />
											1、大学专科及以上学历，年龄28-35岁，5年以上大型制造企业管理工作经验；<br />
											2、具备较强的沟通及协调能力，良好的职业操守和抗压能力；<br />
											3、有化工、电镀类工作经验优先</p>
										
										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>
							<li class="">
								<p class="fuMenu"><span>环保主管</span><span>长沙</span><span>1</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="/skin/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>薪资：6K~8K<br />
											技能要求：环境工程，环境检测，环境评估<br />
											<br />
											1、环保政策解读<br />
											2、环保管理<br />
											3、政府方面对外沟通、协调<br />
											4、废水处理整改<br />
											<br />
											环保工程师或注册环评师优先，有废水处理工作经验优先
										</p>
										

										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>
							<li class="">
								<p class="fuMenu"><span>安环主管</span><span>长沙</span><span>1</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="/skin/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>6~8K<br />
											技能要求：<br />
											安全生产管理，环境管理，消防管理<br />
											岗位职责：<br />
											1、解读、宣传、贯彻国家安全生产、职业卫生、消防法规及标准<br />
											2、建立有效的安全管理体系，落实ISO45001要求，安全三级标准化规范要求<br />
											3、结合公司实际，组织修订、编写、审核公司安全生产方针、目标、指标及管理制度，并对情况进行考核<br />
											4、安全管理统筹，确保公司安全、消防、职业管理卫生管理目标达成。<br />
											5、对消防体系有独到见解，可以给予公司合理化建议，并落地执行。有消防员经验为佳。</p>
										
										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>
							<li class="">
								<p class="fuMenu"><span>SQE工程师</span><span>长沙</span><span>1</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="/skin/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>薪资：6~12K<br />
											技能要求：<br />
											材料采购，物料管理，物资采购，质量管理，资料管理<br />
											岗位职责：<br />
											1、推动供应商内部质量改善<br />
											2、推行执行供应链的系统程序文件<br />
											3、供应商的评监，择优选择供应商。<br />
											3、供应商的定期及异常稽核的执行。<br />
											4、建立完善规范的材料进料检验程序<br />
											5、组织的供应商等级评比。<br />
											6、8D Report 的发出及时效管控及改善效果的跟进。<br />
											任职职格：<br />
											年龄25-40岁，本科及以上学历，材料、化学相关专业，有大型制造企业3年及以上同岗位工作经验。</p>
										
										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>
							<li class="">
								<p class="fuMenu"><span>消防安全员</span><span>长沙</span><span>1</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="/skin/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>4K~5K<br />
											1、消控室值班、巡检<br />
											2、需要倒班，工作时间白班为8：00~20：00；晚班为20：00~次日8:00<br />
											3、需要有消防证<br />
											<br />
											公司包吃包住，一日四餐，转正后购买五险一金
										</p>
										
										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>
							<li class="">
								<p class="fuMenu"><span>人资实习生</span><span>长沙</span><span>1</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="/skin/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>薪资：2K~3K<br />
											1、人员入离职、异动材料整理，提报。<br />
											2、员工劳动合同签订,档案材料整理。<br />
											3、员工社保、公积金增减员整理。<br />
											4、每月员工考勤汇总，制作考勤表，考勤异常统计。<br />
											5、招聘简历筛选及流程<br />
											6、以助教身份配合完成培训项目<br />
											7、上级领导交代的其他任务<br />
											<br />
											该岗位希望员工未来考虑留在我司发展，方向为HRBP或全盘，不考虑暑假工，请知悉！薪资部分为固定薪资2500元/月，大小休，公司包吃包住，提供食宿！
										</p>
										
										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>
							<li class="">
								<p class="fuMenu"><span>废水处理员</span><span>长沙</span><span>1</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="/skin/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>薪资：3~4K<br />
											1、污水处理站运行<br />
											2、现场5S管理<br />
											3、工作主要内容为操作设备、维护及清洗，有一定体力活<br />
											<br />
											月休4天，8小时制，偶尔需要上晚班（12小时制），如遇到加班，可调休
										</p>
										
										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>
							<li class="">
								<p class="fuMenu"><span>普工</span><span>长沙</span><span>若干</span><span></span><span
										class="shenqing_span">申请</span></p>
								<img class="xiala" src="/skin/images/xiala.png" />
								<div class="div1">
									<div class="rlzy_info_con">
										<p>薪资：4K~6K<br />
											一、主要工作职责：<br />
											1、按工艺流程进行生产操作；<br />
											2、生产过程记录与监控。<br />
											二、工作时间<br />
											上4休2，月休10天<br />
											三、基本要求：<br />
											男女不限,年龄18--48岁，身体健康，初中以上学历，能适应班倒站立式工作，认真细致，服从管理，责任心强，有工厂工作经验者优先。<br />
											四、福利待遇：<br />
											1、工资：独立上岗后实行计件工资（约4000元-6000元），工资每月15日左右准时发放至员工工资卡内；<br />
											2、公司免费提供工作餐、公司免费提供住宿、员工转正后按规定缴纳五险、交通津贴、夏季高温津贴150元/月、生日礼物、新婚贺礼、传统节日物资、绩效考核奖、每年组织体检等。
										</p>
										
										<div class="wyyp_info">
											以上应聘简历请投递邮箱：&nbsp;&nbsp;
											长沙 renliziyuanzhaopin@dialine.cn&nbsp;&nbsp;
											株洲 zzdl@dialine.cn
										</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
					<!--内容-->
				</li>
				<li id="tab2" class="tab_con">
					<div class="erji_rlzy_t">
						<span>职位名称</span>
						<span>工作地点</span>
						<span>招聘人数</span>
						<span>招聘截止时间</span>
						<span>职位申请</span>
					</div>
					<!--内容-->
					<div class="menu_list">
						<ul>

						</ul>
					</div>
					<!--内容-->
				</li>

			</ul>
		</div>
	</div>
	<!-- 引入底部 -->
	<stl:include file="/include/footer.html"></stl:include>
	
</body>

</html>
