<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
   <meta name="aplus-terminal" content="1">
   <meta name="spm-id" content="a2156.1391427">
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="apple-mobile-web-app-status-bar-style" content="black" />
   <title>岱勒新材</title>
   <meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
   <meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
   <link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>
   <script type="text/javascript" src="{Stl.SiteUrl}/js/qiehuan.js"></script>
</head>

<body>
   <link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
   <!--搜索-->
   <!-- 引入头部开始-->
   <stl:include file="/include/header.html"></stl:include>
   <!--引入头部结束 -->
   <!--wap导航-->

   <script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
   <script>$('[data-sidenav]').sidenav();</script>
   <!--二级开始-->
   <div class="erji_banner">
      <stl:image channelName="关于我们"></stl:image>
   </div>
   <!--当前位置-->
   <div class="erji_position">
      <h3>
         <p>关于岱勒</p><span>About DIALINE</span>
      </h3>
      <ul>
         <stl:channels channelName='关于我们' scope='children'>
            <stl:if testType="UpChannelOrSelf">
               <stl:yes>
                  <li class="erji_position_li1">
                     <stl:a></stl:a>
                  </li>
               </stl:yes>
               <stl:no>
                  <li>
                     <stl:a></stl:a>
                  </li>
               </stl:no>
            </stl:if>
         </stl:channels>

      </ul>
      <div class="clear"></div>
   </div>
   <div class="erji_honor kuandu">
      <div class="erji_honor_t">
         <stl:channel channelName="荣誉资质" type="content"></stl:channel>
         <!-- <p>
            2018质量环境管理体系认证证书<br />
            <b>50</b> 项公司专利<br />
            <b>35</b> 项荣誉证书
         </p> -->
      </div>
      <!--内容-->
      <div class="erji_zizhi_box">
         <ul class="tabs" id="tabs">
            <li><a tab="tab1"> <stl:channel channelName="资质认证"></stl:channel></a></li>
            <li><a tab="tab2"><stl:channel channelName="荣誉奖项"></stl:channel></a></li>
            <li><a tab="tab3"><stl:channel channelName="专利证书"></stl:channel></a></li>
            <div class="clear"></div>
         </ul>
      </div>
      <div class="erji_zizhi_con">
         <ul>
            <li id="tab1" class="tab_con">
               <stl:contents channelName="资质认证">
                  <a><stl:image src="{content.ImageUrl}"></stl:image></a>
               </stl:contents>
               <div class="clear"></div>
            </li>
            <li id="tab2" class="tab_con">
               <stl:contents channelName="荣誉奖项">
                  <a><stl:image src="{content.ImageUrl}"></stl:image></a>
               </stl:contents>
               <div class="clear"></div>
            </li>
            <li id="tab3" class="tab_con">
               <stl:contents channelName="专利证书">
                  <a><stl:image src="{content.ImageUrl}"></stl:image></a>
               </stl:contents>
               <div class="clear"></div>
            </li>
         </ul>
      </div>
      <!--内容-->
      <!--<div class="erji_page">
      <ul>
	     <li><span class="pageinfo">共 <strong>1</strong>页<strong>5</strong>条记录</span></li>

	  </ul>
   </div>-->
   </div>
   <!--foot-->
   <!-- 引入底部开始-->
   <stl:include file="/include/footer.html"></stl:include>
   <!--引入底部结束 -->

</body>
</html>
