<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<meta name="aplus-terminal" content="1">
	<meta name="spm-id" content="a2156.1391427">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>岱勒新材</title>
	<meta name="description" content="岱勒新材专业从事硬脆材料切割工具——电镀金刚石线的研发、制造和应用技术服务,为多晶硅、单晶硅、蓝宝石、磁性材料等超硬材料提供切割工具与解决方案。" />
	<meta name="keywords" content="岱勒,岱勒新材,岱勒科技股份,金刚石线" />
	<link href="{Stl.SiteUrl}/css/css.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.min.js"></script>

</head>

<body>
	<link rel='stylesheet' href='{Stl.SiteUrl}/css/font-awesome.min.css' type='text/css'>
	<!--搜索-->
	<!-- 引入头部开始-->
	<stl:include file="/include/header.html"></stl:include>
	<!--引入头部结束 -->
	<!--wap导航-->

	<script type="text/javascript" src="{Stl.SiteUrl}/js/sidenav.min.js"></script>
	<script>$('[data-sidenav]').sidenav();</script>
	<!--二级开始-->
	<div class="erji_banner">
		<stl:image channelName="新闻中心"></stl:image>
	</div>
	<!--当前位置-->
	<div class="erji_position">
		<h3>
			<p>新闻中心</p><span>News Center</span>
		</h3>
		<ul>
			<stl:channels channelName='新闻中心' scope='children'>
				<stl:if testType="UpChannelOrSelf">
					<stl:yes>
						<li class="erji_position_li1"><stl:a></stl:a></li>
					</stl:yes>
					<stl:no>
						<li><stl:a></stl:a></li>
					</stl:no>
				</stl:if>
			</stl:channels>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="erji_news kuandu">

		<div class="clear"></div>
		<ul class="erji_news_ul">
			<stl:pageContents scope="_self" pageNum="2">
				<li>
					<h3>
						<stl:a>{content.Title}</stl:a>
						<stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content>
					</h3>
					<p>{content.Summary}</p>
				</li>
			</stl:pageContents>
		</ul>
		<div class="erji_page">
			<ul>
				<stl:pageItem type="PreviousPage">
					<stl:yes>
						<li>
							<a href="{Current.Url}" class="prev">上一页</a>
						</li>
					</stl:yes>
				</stl:pageItem>
				<stl:pageItem type="PageNavigation" listNum="3">
					<stl:yes>
						<li>
							<a href="{Current.Url}">{Current.Num}</a>
						</li>
					</stl:yes>
					<stl:no>
						<li class="thisclass">
							<a href="javascript:;">{Current.Num}</a>
						</div>
					</stl:no>
				</stl:pageItem>
				<stl:pageItem type="NextPage">
					<stl:yes>
						<li>
							<a href="{Current.Url}" class="next">下一页</a>
						</li>
					</stl:yes>
					<stl:no>
						<li>
							<a href="javascript:;" class="next">下一页</a>
						</li>
					</stl:no>
				</stl:pageItem>
			</ul>
		</div>
	</div>
	<!--foot-->
	<!-- 引入底部开始-->
	<stl:include file="/include/footer.html"></stl:include>
	<!--引入底部结束 -->
</body>
</html>

